.main{

    .container{
        border-color: rgb(207, 200, 200);
        border-style: solid;
        border-width: 1px;
        width: 360px;
        height: 610px;
        box-shadow: 2px 2px 4px lightgray, -0px  -4px;


        .search{
            margin-left: 10px;
            margin-left: -202px;
        }


        .photos{

            .text{
                font-size: 17px;
                border-radius: 10px;
                height: 34px;
                width: 340px;
                background-color: rgb(216, 210, 210);
                position: relative;

            }

            .img{
                position: absolute;
                left: 580px;
                top: 95px;
                height: 14px;
            }

        }

        .bottom{
            border-top: 1px solid gray;
            padding-top: 200px;
            .recent{ 
                margin-top: -50px;
            }
        }
      


    }

}